---
layout: default
permalink: /
---

<head>
  <link rel="stylesheet" href="/assets/css/index.css" />
</head>
<header class="page-header">
  <h2>
    Top athletes, actors, and business people have coaches who provide expert guidance and support
    to improve performace.
  </h2>
  {% include img.html name="poppies" %}

  <h1>
    Do you have an academic mentor?
  </h1>
</header>
<main id="content" class="main-content" role="main">
  <h1>
    Bree Koziara, Ed.M. Harvard University
  </h1>

  <p>
    Bree is an experienced teacher who brings a unique and innovative approach to education and
    student development. Bree graduated top of her class from USC and earned her Master’s in Higher
    Education from Harvard. She began tutoring and mentoring in 2002 and has been doing so on a
    full-time basis for nearly a decade as the founder of academic stratEDGEy.
  </p>
  <p>
    While many teachers go through the motions or strictly teach to the test, Bree’s passion for
    learning and teaching shine through in everything she does. Beyond simply preparing students for
    upcoming assessments, Bree serves as an academic mentor by helping students successfully
    navigate their academic career, develop their critical thinking ability, and build skills for
    success.
  </p>
  <a href="/about">More About Bree</a>
</main>

<div class="services-content">
  <article>
    <div class="half-section">
      <h2>ACADEMIC TUTORING</h2>
      <p>
        Bree and Michele Koziara provide high quality academic tutoring for middle and high school
        students; they break down difficult concepts and help their students develop the
        foundational knowledge and skills they need to excel. Bree specializes in providing
        comprehensive tutoring programs for AP History courses, including AP Human Geography, AP
        World History, and AP U.S. History. With nearly twenty years of teaching experience, Michele
        Koziara is a math expert who is well-versed in both traditional and Common Core math.
      </p>

      <a href="/services/tutoring">
        Find out more about more about Bree and Michele’s academic services
      </a>
    </div>
    <div class="half-section">
      {% include img.html name="tutoring" %}
    </div>
  </article>
  <article>
    <div class="half-section">
      {% include img.html name="workshops" %}
    </div>
    <div class="half-section">
      <h2>SKILL BUILDING WORKSHOPS</h2>
      <p>
        Strong writing and study skills are critical to success, yet students struggle with both.
        Bree's skill building workshops empower students to develop the academic and life skills
        they will need to advance in their academic and professional careers.
      </p>
      <a href="/services/workshops">
        Find out more about Bree’s Writing and Study Skills Workshops
      </a>
    </div>
  </article>

  <article>
    <div class="half-section">
      <h2>INNOVATIVE COLLEGE COUNSELING</h2>
      <p>
        Bree Koziara holds a Master’s in Higher Education from Harvard University and she offers
        students and parents an alternative to traditional college counseling. Most college
        counselors require families to sign an expensive, long-term contract. Instead, Bree provides
        expert guidance and support at an hourly rate. Bree takes a proactive approach and aims to
        help students and parents develop a better understanding of the college planning process and
        what colleges are looking for in a candidate in order to position themselves for success
        from the start.
      </p>
      <a href="/services/counseling">Find out more about Bree’s College Counseling</a>
    </div>
    <div class="half-section">
      {% include img.html name="counseling" %}
    </div>
  </article>
</div>
