<head>
  <link rel="stylesheet" href="/assets/css/email.css" />
  <script src="/assets/js/clipboard.min.js"></script>
  <script src="/assets/js/email.js"></script>
</head>

<span>
  <a href="mailto:{{ include.email }}">{{ include.email }}</a>
  <span class="copyIcon" data-clipboard-text="{{ include.email }}">
    <img src="/assets/img/copy.svg" onclick="copyEmail()" />
    <span class="emailToolTip">Copy to Clipboard</span>
  </span>
</span>

<!-- Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
