---
layout: default
title: College Counseling
permalink: /services/counseling/
---

<main>
  <h1>
    INNOVATIVE COLLEGE COUNSELING
  </h1>
  <h2 class="center-text">
    College Counseling: <br />
    Get on Track Seminar & Hourly Follow-up Appointments
  </h2>
  <article>
    <div class="half-section">
      Bree holds a Master’s in Higher Education from Harvard University. She gained student
      development and advising experience working at MIT’s Global Education and Career Development
      Office. Traditional counselors typically require families to sign an expensive long-term
      contract; the Independent Educational Consultants Association (IECA) reported that the mean
      college advising package fee in 2016 was $4,620, with most packages costing $3,000 to $6,000.
      Bree offers students and parents an alternative to traditional college counseling by providing
      expert guidance and support at an hourly rate and starting the planning process early.
    </div>

    <div class="half-section">
      {% include img.html name="counseling" %}
    </div>
  </article>

  <article>
    <div class="single-section">
      <h2>
        COLLEGE COUNSELING SERVICES
      </h2>

      <p>
        Following the initial College Planning Crash Course, students schedule routine check-up
        appointments to touch base and track progress. By specializing in early-stage college
        planning and providing guidance at critical junctures throughout the process, Bree empowers
        students to achieve their academic goals. Due to Bree’s proactive and strategic approach,
        the ideal starting point for hourly college planning is spring of 8th grade or 9th grade.
      </p>
    </div>
  </article>

  <h3 class="text-center">
    College Counseling: <br />
    Get on Track Seminar
  </h3>

  <article>
    <div class="half-section">
      <p>
        Description: The college admissions process can be quite stressful; even the most dedicated
        students and parents are left feeling overwhelmed by the prospect of applying to college.
        Bree helps parents and students quickly understand the college planning process and what
        colleges are looking for in a candidate during her one-hour Get on Track Seminar.
      </p>
      <ul>
        <li>
          Understanding holistic admissions and what colleges are looking for in a candidate
        </li>

        <li>
          Bree’s approach to candidate development
        </li>

        <li>
          Introduction to GPA, course selection, standardized testing
        </li>

        <li>
          Introduction to extracurricular activity selection and leadership development
        </li>

        <li>
          How to get motivated and use Bree’s tools to track your progress
        </li>
      </ul>
      <p>
        Availability: Bree’s College Counseling Get on Track Seminar is offered throughout the year
        and can also be booked on demand. Please email Bree at {% include email.html
        email="KoziAcademy@gmail.com" %} with any seminar inquiries.
      </p>
    </div>
    <div class="half-section">
      <h3>
        Strategic Hourly Follow-up Appointments
      </h3>
      <p>
        Description: After attending Bree’s Get on Track Seminar, students schedule candidate
        development follow-up appointments. The goal of these strategic appointments is to create an
        actionable candidate development plan for the upcoming year or two, with a focus on
        academics and activities. See suggested appointments and timing, below:
      </p>

      <h4>
        Lowerclassmen Appointment (Planning for 9th & 10th)
      </h4>
      <ul>
        <li>
          <b>When: </b>Ideally, during the spring of 8th grade to plan for freshman and sophomore
          year (or during 9th grade to discuss freshman year and plan for sophomore year).
        </li>

        <li>
          Lowerclassmen meeting focus - academics and activities:
        </li>

        <ul>
          <li>
            Choosing next year’s classes and developing an academic timeline for 9th and 10th grade;
            how to strategically choose AP courses.
          </li>
          <li>
            Introduction to standardized testing.
          </li>
          <li>
            Exploring your interests and choosing your extracurricular activities and service
            opportunities.
          </li>
          <li>
            The importance of demonstrating leadership.
          </li>
        </ul>
      </ul>
      <h4>
        Upperclassmen Appointment (Planning for 11th)
      </h4>
      <ul>
        <li><b>When:</b> Ideally, during sophomore year to plan for junior year.</li>

        <li>
          Upperclassmen meeting focus - academics and activities
        </li>

        <ul>
          <li>
            Choosing next year’s classes and developing an academic timeline for 11th and 12th
            grade.
          </li>
          <li>
            Standardized testing progress check.
          </li>
          <li>
            Interest and activities progress check.
          </li>
          <li>
            Demonstrating leadership progress check; consider developing your own service project or
            entrepreneurial endeavor.
          </li>
        </ul>
      </ul>
      <h4>
        Pre-Application Appointments (Planning for 12th)
      </h4>
      <ul>
        <li>
          <b>When: </b>Ideally during junior year or the summer between junior and senior year.
        </li>

        <li>
          <b>School and major selection:</b>
        </li>
        <ul>
          <li>
            Finding your fit and choosing the schools you’ll apply to.
          </li>
          <li>
            The importance of campus tours and demonstrating interest to attend.
          </li>
          <li>
            Understanding how to choose your college major and exploring possible career paths.
          </li>
        </ul>

        <li>
          <b>Resume and letter of rec:</b>
        </li>
        <ul>
          <li>
            How to write your first resume for applications, scholarships, and internships.
          </li>
          <li>
            How to get a top notch letter of recommendation.
          </li>
        </ul>

        <li>
          <b>Pre-application organization:</b>
        </li>

        <ul>
          <li>
            Tips and tools to get organized and streamline the process.
          </li>
          <li>
            Pre-fill your Common App template (personal statement writing not included)
          </li>
        </ul>
      </ul>

      <p>
        Availability: Please email Bree at {% include email.html email="KoziAcademy@gmail.com" %}to
        schedule hourly follow-up appointments.
      </p>
    </div>
  </article>
  <article>
    <div class="single-section">
      <h2>
        BREE’S PHILOSOPHY AND APPROACH
      </h2>

      <h3>
        Excelling in middle and high school and gaining admission to increasingly selective colleges
        and universities is no easy task. In fact, it can be quite stressful on teens.
      </h3>

      <p>
        Both parents and high school students recognize the importance of going to college. Not only
        is a college degree more valuable than ever before, graduates reap a number of long-term
        benefits ranging from higher earnings to better health to higher levels of civic engagement.
        Yet the college admission game has changed significantly in the past twenty years, becoming
        more complex and competitive than ever before. Between juggling coursework, participating in
        extracurricular activities, and preparing for high-stakes exams, teens today are overworked,
        over-scheduled, and overstressed. According to the American Psychological Association, 83
        percent of teenagers report school as a somewhat or significant source of stress and 27
        percent report extreme stress during the school year, which takes a toll on high school
        students’ health and development.
      </p>

      <h3>
        The path to higher education also coincides with one of the most critical transitions in the
        life span -- adolescence. This makes navigating the path to college and career all the more
        difficult.
      </h3>

      <p>
        Characterized by a tremendous pace in growth, this transition from childhood to adulthood
        takes place between 10 and 19 and affects individuals’ physical, cognitive, and
        socioemotional development. During middle and high school, students undergo puberty, develop
        a growing capacity for abstract thought, expand their intellectual interests, are
        increasingly influenced by their peer group, and struggle with their sense of identity. Not
        unlike adolescent development, the college admission process requires students to define
        themselves and their goals, which can be quite difficult.
      </p>

      <h3>
        In today’s competitive admission landscape the question remains: How can students stand out
        in a crowded applicant pool?
      </h3>

      <p>
        In order to stand out, students must excel both inside and outside of the classroom.
        Students’ background and academic performance, coupled with their interests and activities
        will help them to develop a compelling personal narrative that helps garner the attention of
        college admission officers. All of this requires students to spend their time wisely and to
        engage in their academic journey. Increased engagement is linked to improved academic
        performance, higher standardized test scores, better self-esteem, and a greater sense of
        belonging. In theory, students know they should get good grades, earn high test scores, and
        build a resume that demonstrates leadership and strong character. In practice, this task is
        much easier said than done. Studies show students become more disengaged from school as they
        progress from elementary school to middle school to high school. By high school, up to 60%
        of students are disengaged and feel they do not have what it takes to succeed. Even the most
        dedicated students and parents are left feeling overwhelmed by the prospect of applying to
        college.
      </p>
      <h3>
        Unfortunately, the answer is often found in hindsight.By the time students fill out their
        applications, missteps and missed opportunities are in the past and out of candidates'
        control.
      </h3>

      <p>
        By the time high school students begin filling out college applications in the fall of their
        senior year, many begin to understand the nature of the admissions game: the college
        admission process begins years before students physically fill out a single application. In
        fact, the information and essays students share with college admissions officers are simply
        records of past actions. Whether informed or not, students make a series of decisions
        throughout middle and high school that impact their choices and chances of getting in.
        Looking back, seniors often spot the classes that hurt their GPA, which could have been
        avoided; the activities that took up so much time, but were not enjoyable or meaningful; the
        skills that could have improved their academic performance and increased their standardized
        test scores, had they been cultivated. They thought they were doing the right thing or
        simply did not know otherwise.
      </p>
      <h3>
        The expression 'hindsight is 20/20' reminds us that perspective and experience can bring
        clarity; so can professional guidance and support.
      </h3>
      <p>
        While high school counselors are expected to be responsible for students’ academic,
        personal, social, and career development, they are overburdened and under-trained. The
        American Counseling Association recommends a ratio of 250 students to 1 counselor. The
        national average is 471:1. In California, there are 1,016 students to 1 counselor. Instead
        of learning the hard way and living with stress or regret, parents and students can find the
        help they need in Bree Kozi.
      </p>
      <h3>
        Bree takes a thoughtful, individualized approach to student development that advocates an
        early start and strategic decision-making throughout middle and high school.
      </h3>
      <p>
        In order to give students and parents the edge they are looking for, Bree provides a range
        of integrated services that help students excel during these critical years. By specializing
        in early-stage college planning and providing guidance at critical junctures throughout the
        process, Bree empowers students to achieve their academic goals.
      </p>
    </div>
  </article>
</main>
