---
layout: default
title: Study Skills
permalink: /services/workshops/study-skills
---

<main>
  <article>
    <div class="half-section">
      <h2 class="text-center">Study Skills Workshop</h2>
      <p>
        Bree helps students develop their study skills and learn how to “study smarter, not harder”
        by starting with a study skills baseline survey and then focusing on the following areas in
        her Study Skills Workshop:
      </p>
      <ul>
        <li>
          <b>Rules and Tools for Success:</b> Learn how to manage your time, develop organizational
          systems, and cultivate interpersonal skills
        </li>

        <li>
          <b>Skill Building:</b> Learn how to employ active reading and annotating strategies
          alongside effective note taking and outlining practices, and vocabulary building
          strategies
        </li>

        <li>
          <b>Retention and Performance:</b> Learn how to study and process information to make it
          stick, plus effective multiple choice test-taking techniques
        </li>

        <li><b>Goal Setting:</b> Learn how to set and achieve your goals</li>
      </ul>
    </div>
    <div class="half-section">
      {% include img.html name="skillsBook" %}
    </div>
  </article>

  <article>
    <div class="single-section">
      <p>
        <b>Format:</b> 4-hour workshop that covers Rules and Tools for Success, Skill Building,
        Retention and Performance, and Goal Setting. If you prefer to schedule one topic-only,
        rather than the complete workshop, we can arrange one-hour study skills private lessons on
        any of the four aforementioned areas.
      </p>
      <p>
        <b>Availability:</b> Group Study Skills Workshops are offered throughout the year and can
        also be booked on demand; either privately or via new group formation. Please email Bree at
        {% include email.html email="KoziAcademy@gmail.com" %} with any study skills inquiries.
      </p>
    </div>
  </article>
  <article>
    <div class="single-section">
      <h3 class="text-center">
        The Importance of Study Skills
      </h3>
      <p>
        While students are often told to “study smarter, not harder,” many students struggle with
        study skills; they either don’t know where to start or the results they’re getting do not
        reflect their substantial efforts and they don’t know why. While there’s no silver bullet,
        Bree’s study skills lessons and workshops provide students with a comprehensive approach to
        improving their ability to learn more effectively.
      </p>
      <p>
        Ideally, developing and applying a robust set of study skills throughout middle and high
        school will help students excel at all stages of life and minimize stress along the way.
        Additionally, strong study skills can help students avoid remediation and frustration and
        graduate from college.
      </p>
      <ul>
        <li>
          Teens report higher stress than ever before with grades, homework, and preparing for
          college listed as the greatest sources of stress for both genders. (The American
          Psychological Association)
        </li>
        <li>
          Beyond that, many students enter college underprepared and are forced to take remedial
          classes (which generally have the same tuition costs and structure as other college
          courses, but do not confer credit toward a degree).
        </li>
        <li>
          More than 50 percent of students entering two-year colleges and nearly 20 percent of those
          entering four-year universities are placed in remedial classes. (Complete College America
          study)
        </li>
        <li>
          Once admitted, the overall dropout rate for undergraduate college students is 40 percent,
          with approximately 30 percent of college freshmen dropping out before their sophomore
          year. (National Center for Education Statistics)
        </li>
      </ul>
    </div>
  </article>
</main>
