---
---

@import "{{ site.theme }}";
@import "./dropdown.css";
@import "./mobile.css";

@media only screen and (min-aspect-ratio: 3/4) {
  #menuToggle {
    display: none;
  }
  #menuCheck {
    display: none;
  }
  html {
    font-size: 16px;
  }
  .page-header img {
    display: none;
  }
  .page-header {
    background-image: url("/assets/img/poppies.jpg");
    background-size: 100%;
  }

  // article:nth-child(even) {
  //   flex-direction: row-reverse;
  // }

  article > div {
    padding: 15px;
  }

  .half-section {
    display: inline-block;
    width: 45%;
    padding: 15px;
  }

  .half-section h2 {
    margin-top: 0;
  }

  .third-section {
    display: inline-block;
    width: 29%;
    padding: 15px;
  }
  //media query - desktop
}

.single-section {
  // padding: 15px;
  width: 85%;
}

li {
  margin-top: 8px;
}

body {
  margin: 10px;
  // min-width: 660px;
  // @include large {
  //   background-color: blue;
  // }
  // @include medium {
  //   background-color: orange;
  // }
  // @include small {
  //   background-color: red;
  // }
}

nav {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

section {
  max-width: 1304px;
  margin: 0 auto;
}
// .main-content h1,
// .main-content h2,
// .main-content h3,
// .main-content h4,
// .main-content h5,
// .main-content h6 {
//   color: black;
// }

.page-header h2 {
  color: black;
}

// change text color of title for contrast
@media only screen and (min-width: 1300px) {
  .page-header h1 {
    color: black;
  }
}

nav h1 {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  text-transform: capitalize;
}

h2 {
  text-align: center;
}

h3 {
  color: #1e6bb8;
}

.nav-links {
  padding-right: 15px;
  @include small {
    padding-right: 0;
  }
}

.nav-links a {
  padding: 16px 16px;
  @include small {
    padding: 8px 16px;
  }
}

.nav-links > a:hover {
  color: white;
  background-color: #a7a7a7;
  text-decoration: none;
}

.padding-vert {
  padding: 10px 0;
}

.text-center {
  text-align: center;
}

p {
  text-align: justify;
}

article {
  display: flex;
  justify-content: space-around;
}

article.math {
  max-width: 1000px;
  padding: 0em 1.5em;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.services-content {
  padding: 1em;
  margin: 0 auto;
}
