<!DOCTYPE html>
<html lang="en" id="html" class="noWebp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kozi Academy</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <script src="/assets/js/index.js"></script>
  </head>
  <body>
    <nav>
      <a href="/">
        <h1>kozi academy</h1>
      </a>
      <input id="menuCheck" type="checkbox" />
      <div id="menuToggle" onclick="clickHamburger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="nav-links">
        <a href="/">Home</a>
        <a href="/about/">about</a>
        <!-- onmouseout="displayDrop('services','none')" -->
        <div class="dropdown">
          <a class="dropbtn">services</a>
          <div id="dropdown-services-content" class="dropdown-content">
            <a href="/services/tutoring">Academic Tutoring</a>
            <ul>
              <li>
                <a href="/services/tutoring/ap_human">AP Human Geography</a>
              </li>
              <li>
                <a href="/services/tutoring/ap_world">AP World History</a>
              </li>
              <li>
                <a href="/services/tutoring/ap_us">AP US History</a>
              </li>
            </ul>
            <a href="/services/workshops">Skill Building Workshops</a>
            <ul>
              <li>
                <a href="/services/workshops/writing">Writing Workshops</a>
              </li>
              <li>
                <a href="/services/workshops/study-skills">Study Skills Workshops</a>
              </li>
            </ul>
            <a href="/services/counseling">Innovative College Counseling</a>
            <ul>
              <li>
                <a href="/services/counseling/#crash-course">Crash Course</a>
              </li>
              <li>
                <a href="/services/counseling/#on-track">Annual Get On Track</a>
              </li>
              <li>
                <a href="/services/counseling/#pre-app">Pre-Application</a>
              </li>
            </ul>
            <a href="/services/tutoring/additional">Additional Services</a>
          </div>
        </div>
        <a href="/testimonials/">testimonials</a>
        <!-- <a href="/art/">art</a> -->
        <a href="/contact/">contact</a>
      </span>
    </nav>

    <section>
      {{ content }}
    </section>
    <footer class="site-footer">
      <p>{% include email.html email="KoziAcademy@gmail.com" %}</p>
      <p>2503 Eastbluff Drive - Suite 202, Newport Beach, CA 92660</p>
      <p>
        Remote Tutoring Available via Zoom
        <img src="/assets/img/zoom.svg" />
      </p>
    </footer>
  </body>
</html>
