<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kozi Academy</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <nav>
      <a href="/">
        <h1>kozi academy</h1>
      </a>
      <input id="menuCheck" type="checkbox" />
      <div id="menuToggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="nav-links">
        <a href="/about/">about</a>
        <!-- onmouseout="displayDrop('services','none')" -->
        <div class="dropdown">
          <a class="dropbtn">services</a>
          <div id="dropdown-services-content" class="dropdown-content">
            <a href="/services/tutoring">Academic Tutoring</a>
            <ul>
              <li>
                <a href="/services/tutoring/ap_human">AP Human Geography</a>
              </li>
              <li>
                <a href="/services/tutoring/ap_world">AP World History</a>
              </li>
              <li>
                <a href="/services/tutoring/ap_us">AP US History</a>
              </li>
            </ul>
            <a href="/services/workshops">Skill Building Workshops</a>
            <a href="/services/counseling">Innovative College Counseling</a>
          </div>
        </div>
        <a href="/testimonials/">testimonials</a>
        <a href="/art/">art</a>
        <a href="/contact/">contact</a>
      </span>
    </nav>

    <section>
      {{ content }}
    </section>
    <footer class="site-footer">
      <a href="mailto:Bree@KoziAcademy.com">Bree@KoziAcademy.com</a>
      <p>2503 Eastbluff Drive - Suite 202 Newport Beach, CA 92660</p>
      <p>Remote Tutoring Available via Zoom</p>
      <img src="/assets/img/zoom.svg" />
    </footer>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
